*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

#external-container{
    display: flex;
    justify-content: center;
}

#main-container{
    width: 1000px;
    border: 2px solid black;
    height: 800px;
    margin: 10px;
    display: flex;
}

#user-container{
    display: flex;
    justify-content: space-between;
    background: red;
    align-items: center;
}

#notifications-container{
    display: flex;
    background-color: aqua;
    height: 70px;
    align-items: center;
}

.container-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background: #fff ;
    color: aqua;
}

/* container */

/* colonne */

#col-right{
    width: 55%;
}

#col-left{
    width: 45%;
    border-right: 2px solid black;
}

/* colonne */

/* user */
.user{
    display: flex;
    align-items: center;
}

img{
    width: 60px;
    border-radius: 50% ;
}
/* user */

/* icons */
.icon{
    color: grey;
    padding: 10px;
    column-gap: 10px;
    font-size: 20px;
    display: flex;
}

i.fa-solid.fa-bell-slash{
    position: relative;
    top: 15px;
    left: 15px;
}
/* icons */

/* txt */

.blurry-txt{
    text-decoration: underline;
}

/* txt */