*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

#app-wrapper{
    display: flex;
    justify-content: center;
    background-color: pink;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(green 0px, green 15%, beige 15%, beige 100%);
}

#app-container{
    width: 75%;
    background-color: #eaeaea;
    height: 90%;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-container{
    display: flex;
    justify-content: space-between;
    background: #eaeaea;
    align-items: center;
    padding: 10px;
}

#notifications-container{
    display: flex;
    background-color: #8edafc;
    height: 70px;
    align-items: center;
    padding: 10px;
}

.container-icon{
    width: 55px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background: #fff ;
    color: #8edafc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar-container{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    background: #ffffff;
}



/* container */

/* colonne */

#col-right{
    width: 70%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

#col-left{
    width: 30%;
    height: 100%;
    border-right: 2px solid black;
    flex-grow: 0;
    flex-shrink: 0;
}

/* colonne */

/* user */
.user{
    display: flex;
    align-items: center;
}

img{
    width: 60px;
    border-radius: 50% ;
}
/* user */

/* icons */
#icon{
    color: #b1b1b1;
    padding: 10px;
    column-gap: 10px;
    font-size: 20px;
    display: flex;
}

/* icons */

/* txt */

.blurry-txt{
    text-decoration: underline;
    color: #b1b1b1;
}



#background-text{
    display: flex;
    flex-direction: column;
    background-image: url("starter-pack/img/mine.jpg");
    
}

#txt-right{
    margin-top: 10px;
    background-color: lightgreen;
    border-radius: 5%;
}

#txt-left{
    margin-top: 10px;
    background-color: white;
    border-radius: 5%;
}

.time_message{
    font-size: 10px;
}


/* txt */

/* chat */

.background-chat{
    width: 100%;
    border-radius: 0;
    height: 100%;
}

#preview_chat :hover{
 background-color: grey;
 width: 100%;
}

/* chat */